.vim-container {
	margin:0;
	padding:0;
	position:relative;
	height: 100%;
	width: 100%;
	border-radius: 4px;	
	color: #f4f4f4;
	background-color:#111;
	font-size: 12px;

	pre, span {
		font-size:inherit;
	}

	.selection {
		background-color: #555;
	}

	.selection.cursor {
		background-color: #888;
		color: #333;
	}

	.gutter {
		color: #ca792d;
		font-weight: 700;
	}

	.blank {
		color: #4a39de;
		font-weight: 700;
	}

	.var {
		color: #c0bb31;
	}
}
